
div {
	
}

.bgcolor1 {
	background-color:#CDCDCD
}

.bgcolor2 {
	background-color:#B664F6
}

.bgcolor3 {
	background-color:#B664F6
}

.bgcolor4 {
	background-color:#88F77C
}


img {
    border-radius: 8px;
    display: block;
margin-top: -50px;
margin-bottom: -70px;
}